@media (max-width: 1200px) {
    body {
        background-color: #f44336;
    }

    .background-video {
        display: none;
    }

    .conteiner {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .conteiner .mario {
        max-width: 50%;
    }

    .conteiner .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .conteiner .descricao {
        color: #ffffff;
        text-align: center;
    }

    .conteiner .botao-trailer {
        background-color: #263238;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .conteiner .imagem-titulo {
        max-width: 75%;
    }

    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}